<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nurlan.zakaz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Zakaz"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_tables"
            android:icon="@android:drawable/ic_menu_agenda"
            android:launchMode="singleTop" />
        <activity
            android:name=".CustomerActivity"
            android:parentActivityName=".OrderActivity"
            android:icon="@android:drawable/ic_menu_search"
            android:label="@string/title_activity_customers" />
        <activity
            android:name=".NumpadActivity"
            android:label="@string/title_activity_numpad"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity
            android:name=".OrderViewActivity"
            android:parentActivityName=".OrderActivity"
            android:icon="@android:drawable/ic_menu_share"
            android:label="@string/title_activity_order_view" />
        <activity android:name=".AgentActivity"></activity>
    </application>

</manifest>
